<div class="container">
  <div class="row"><h4>User Prescriptions </h4></div>
  <div class="row">
    <% if ( role.toLowerCase() === 'patient' ) { %>
    <table class="table table-inverse">
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Quantity</th>
        <th>Duration</th>
        <th>Frequency</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Last Updated At</th>
      </tr>
      </thead>
      <tbody>
      <% for(var i = 0; i < prescriptions.length; i++) { %>
      <tr>
      <td><%= i + 1 %></td>
      <td><%= prescriptions[i].title %></td>
      <td><%= prescriptions[i].quantity %></td>
      <td><%= prescriptions[i].duration %></td>
      <td><%= prescriptions[i].frequency %></td>
      <td><%= prescriptions[i].description %></td>
      <td><%= prescriptions[i].created_at %></td>
      <td><%= prescriptions[i].updated_at %></td>
      </tr>
      <% } %>
      </tbody>
    </table>
    <% } else  { %>
    <table class="table table-inverse">
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <% for(var i = 0; i < prescriptions.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= prescriptions[i].title %></td>
        <% if( prescriptions[i].requests[0] && prescriptions[i].requests[0].status === 'pending'){ %>
         <td>Approval Pending</td>
        <% } else if ( prescriptions[i].requests[0] && prescriptions[i].requests[0].status === 'denied'){  %>
        <td>Permission Denied</td>
       <% } else if ( prescriptions[i].requests[0] && prescriptions[i].requests[0].status === 'approved' ) { %>
        <td><a href="/users/<%=requestedForId%>/medical_records/<%=medicalRecordId%>/prescriptions/<%=prescriptions[i].id%>">View</a></td>
        <% } else { %>
         <td> <a href="/request_access?prescriptionId=<%=prescriptions[i].id%>&requestedForId=<%=requestedForId%>">Request Access</a></td>
        <%  } %>
      </tr>
      <% } %>
      </tbody>
    </table>
    <% }%>
  </div>
</div>
